SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="a770", RUN+="/usr/bin/cangw -A -s vcan0 -d can0 -e && /usr/bin/cangw -A -s can0 -d vcan0 -e", RUN+="/bin/sh -c 'echo 1209 a770 > /sys/bus/usb/drivers/gs_usb/new_id'", NAME="uNav gs_can Interface"
