SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="a770", RUN+="/usr/sbin/modprobe gs_usb || true", RUN+="/bin/sh -c 'echo 1209 a770 > /sys/bus/usb/drivers/gs_usb/new_id'", NAME="uNav gs_can Interface"
